<style>
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .background {
        background-image: url('lol.jpg');
        background-size: cover;
        height: 100vh;
        width: 100%;
        position: relative
    }
    .form
    {
        position: absolute;
        padding-top: 20px;
        top: 0px;
    }
    p {
        font-style: bold;
    }
    .error {
        color: red;
    }
    .credits {
        color: #696969;
        position: absolute;
        left:0;
        bottom:0;
    }
</style>

<body>
    <div class="background"></div>
    <div class="row col-md-5 col-md-offset-5 form">

      <%= form_for :player, url: player_show_url, method: 'get' do |f| %>
          <h4>Enter Pro Player Name</h4>
          <%= f.text_field :name %>
          <button type="submit" class="btn btn-primary">Search</button>
      <% end %>
      <p>Stuck? Some suggested players include: doublelift, zionspartan, bjergsen, sneaky, aphromoo, dyrus</p>
      <span class="error"><%= params[:notice] %></span>
    </div>
    <div class="credits">Photo credit to Riot Games</div>

</body>